
.column {
    float: left;
    min-height:0%
  }
  .game{
    width: 70%;
    align-self: center;
  }

  .anuncio{
    width: 15%;
    background-color: purple;
  }
  
.flechas{
  
  width: 5%;
}
.comentario{
  width: 90%;

}

.paginaActiva{
  background-color: brown;
  font-size: xx-large;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
    text-align: center;
    color: black;
    background-color: #ff9933;
  }

  header{
    position: sticky;
    top: 0;
    background-color: aliceblue;
  }
  a:hover {
    background-color: orange;
    width: 80%;
  }
 